<header>
    <nav class="navbar bg-primary-subtle text-white navbar-expand-lg nav">
        <div class="container-fluid">
            <a href="{% url 'index' %}" class="navbar-brand"><b>LesBoss™</b> - Driving School</a>
            <div class="log" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link user" href="{% url 'user-dashboard' %}">Dashboard</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>