{% load static %}
<div class="courses mt-5 row">
    <div class="mb-2">
        <h2><b>Courses & general schedule</b> - list</h2>
        <a class="btn btn-primary" href="{% url 'course-creation' %}">Add course</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Location</th>
                <th>Schedule</th>
                <th>Student</th>
                <th>Instructor</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.location }}</td>
                    <td>{{ course.time_slot.start_time | date:"D j M Y H:i" }}
                        - {{ course.time_slot.end_time | date:"D j M Y H:i" }}</td>
                    <td>{{ course.get_student_details.email }}</td>
                    <td>{{ course.get_instructor_details.email }}</td>
                    <td><a class="btn btn-primary" href="{% url 'course-edit-delete' course.pk %}">Edit/delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Total numbers of courses: {{ courses.count }}</p>
    </div>
</div>
