{% load static %}

<link rel="stylesheet" href="{% static 'css/tab.css' %}">

<div class="instructors mt-5 mb-5 row">
    <div class="mb-2">
        <h2><b>Instructors</b> - <i class="list">list</i></h2>
        <a class="btn btn-primary" href="{% url 'instructor-creation' %}">Add instructor</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th class="col tab"><i>User status</i></th>
                <th class="col tab"><i>Name</i></th>
                <th class="col tab"><i>Email</i></th>
                <th class="col tab"><i>Actions</i></th>
            </tr>
            </thead>
            <tbody>
            {% for instructor in instructors %}
                <tr>
                    {% if instructor.is_active == 1 %}
                        <td>Active</td>
                    {% else %}
                        <td>Disable</td>
                    {% endif %}
                    <td>{{ instructor.name }}</td>
                    <td><a href="{% url 'instructor-details' instructor.pk %}">{{ instructor.email }}</a></td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'instructor-edit-delete' instructor.pk %}">Edit/delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>