{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/form-add-student.css' %}">

<div class="ins mt-5">
    <h1>Student Creation</h1>
    <div class="addInstructor">
        <form action="{% url 'student-creation' %}" method="post">
            {% csrf_token %}
            {{ student_add_form.as_p }}
            <input class="btn btn-success" type="submit" value="Add student">
        </form>
        <a class="btn btn-primary btnAdd" href="{% url 'user-dashboard' %}">Go back</a>
    </div>
</div>
{% endblock %}
