{% extends 'app/base.html' %}

{% block document_title %}
    Add Student
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <div class="card" style="width: fit-content;">
                    <div class="card-header">
                        <h2>Student Creation</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'student-creation' %}" method="post">
                            {% csrf_token %}
                            {{ student_add_form.as_p }}
                            <input class="btn btn-primary" type="submit" value="Add student">
                            <a class="btn btn-warning btnAdd" href="{% url 'user-dashboard' %}">Go back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
