<div class="mt-5 mb-5 row">
    <div class="mb-2">
        <h2><b>Student</b> - list</h2>
        <a class="btn btn-primary" href="{% url 'student-creation' %}">Add student</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Paid hours</th>
                <th>Taken hours</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td><a href="{% url 'student-details' student.pk %}">{{ student.email }}</a></td>
                    <td>{{ student.paid_course_hours }}</td>
                    <td>{{ student.taken_course_hours }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'student-edit-delete' student.pk %}">Edit/delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Total numbers of students: {{ students.count }}</p>
    </div>
</div>