<div>
    <h3>
        Account details of {% if logged_in_user.name %} {{ logged_in_user.name }} {% else %}
        {{ logged_in_user.email }} {% endif %}
    </h3>
    <div>
        <div>
            <h4>Courses balance:</h4>
            <div>
                Paid course hours: {{ logged_in_user.paid_course_hours }}
                Taken course hours: {{ logged_in_user.taken_course_hours }}
            </div>
        </div>
        <div>
            <h4>your assigned courses</h4>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col">Location</th>
                        <th class="col">Start date/time</th>
                        <th class="col">End date/time</th>
                        <th class="col">Course duration</th>
                        <th class="col">Attending instructor</th>
                        <th class="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for courses in student_courses %}
                        <tr>
                            <td class="col">{{ courses.location }}</td>
                            <td class="col">{{ courses.time_slot.start_time | date:"D j M Y H:i" }}</td>
                            <td class="col">{{ courses.time_slot.end_time | date:"D j M Y H:i" }}</td>
                            <td class="col">{{ courses.time_slot.duration }}</td>
                            <td class="col">{{ courses.get_instructor_details.email }}
                                - {{ courses.get_instructor_details.name }}</td>
                            <td class="col">
                                <div class="btn-group">
                                    <a href="{% url 'complete-course' courses.pk %}" class="btn btn-success">Complete course</a>
                                    <a href="{% url 'cancel-course' courses.pk %}" class="btn btn-danger">Cancel
                                        course</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% if logged_in_user.taken_course_hours >= 8 %}
        {% include 'includes/exam_component.html' %}
    {% endif %} 
    </div>
</div>



