<div>
    <h1>Course panel</h1>
    <div>
        <table>
            <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>Course ID</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cours in courses %}
                <tr>
                    <td>{{ cours.location }}</td>
                    <td>{{ course.date }}</td>
                    <td>{{ course.time }}</td>
                    <td>{{ cours.pk }}</td>
                    <td><a href="{% url 'course-edit-delete' cours.pk %}">Edit/delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form action="{% url 'course-creation' %}" method="post">
            {% csrf_token %}
            {{ course_add_form.as_p }}
            <input type="submit" value="Add Course">
        </form>
    </div>
</div>