<div>
    <div>
        <h2><b>Secretary</b> - list</h2>
        <a class="btn btn-primary" href="{% url 'secretary-creation' %}">Add secretary</a>
        <table class="table">
            <thead>
            <tr>
                <th class="col">Name</th>
                <th class="col">Email</th>
                <th class="col">User status</th>
                <th class="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for secretarie in secretaries %}
                <tr>
                    <td>{{ secretarie.name }}</td>
                    <td>{{ secretarie.email }}</td>
                    <td>{{ secretarie.is_active }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'secretary-edit-delete' secretarie.pk %}">Edit/delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
        </div>
    </div>
</div>