<div>
    <h1>Secretary panel</h1>
    <div>
        {% for secretary in secretaries %}
            <p>{{ secretary.email }}</p>
            <p>{{ secretary.pk }}</p>
            <a href="{% url 'secretary-edit-delete' secretary.pk %}">Edit/delete</a>
        {% endfor %}
    </div>
    <div>
        <form action="{% url 'secretary-creation' %}" method="post">
            {% csrf_token %}
            {{ secretary_add_form.as_p }}
            <input type="submit" value="Add new instructors">
        </form>
    </div>
</div>