{% load static %}

<link rel="stylesheet" href="{% static 'css/tab.css' %}">

<div class="courses mt-5 mb-5 row">
    <div class="mb-2">
        <h2><b>You're assigned courses</b> - <i class="list">list</i></h2>
        <a class="btn btn-primary" href="{% url 'course-creation' %}">Add course</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th class="col tab"><i>Location</i></th>
                <th class="col tab"><i>Start date/time</i></th>
                <th class="col tab"><i>Duration</i></th>
                <th class="col tab"><i>Attending Student</i></th>
                <th class="col tab"><i>Actions</i></th>
            </tr>
            </thead>
            <tbody>
            {% for instructor_course in instructor_courses %}
                <tr>
                    <td>{{ instructor_course.location }}</td>
                    <td>{{ instructor_course.time_slot.start_time | date:"D j M Y H:i" }}</td>
                    <td>{{ instructor_course.time_slot.duration }}</td>
                    <td>
                        {% if instructor_course.get_student_details and instructor_course.get_student_details.pk %}
                            <a href="{% url 'student-details' instructor_course.get_student_details.pk %}">{{ instructor_course.get_student_details.email }}</a>
                        {% else %}
                            There is no attending student for this course.
                        {% endif %}
                    </td>
                    <td><a class="btn btn-primary" href="{% url 'course-edit-delete' instructor_course.pk %}">Edit/delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
