{% load static %}

<link rel="stylesheet" href="{% static 'css/tab.css' %}">

<div class="students mt-5 mb-5 row">
    <h2><b>You're assigned students</b> - <i class="list">list</i></h2>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th class="col tab"><i>Name</i></th>
                <th class="col tab"><i>Email</i></th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            {% if student.assigned_instructor_id == logged_in_user.pk %}
            <tr>
                <td>{{ student.name }}</td>
                <td><a href="{% url 'student-details' student.pk %}">{{ student.email }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>