<div class="mt-5 mb-5 row">
    <h2><b>You're assigned students</b> - list</h2>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Paid hours</th>
                <th>Taken hours</th>
            </tr>
            </thead>
            <tbody>
            {% for student in assigned_students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.paid_course_hours }}</td>
                    <td>{{ student.taken_course_hours }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>Total numbers of students: {{ assigned_students.count }}</p>
    </div>
</div>