{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/instructor-details.css' %}">
<link rel="stylesheet" href="{% static 'css/tab.css' %}">

    <div class="container mt-5">
        <div class="row text-center mt-3">
            <div class="col">
                <h1>Course details</h1>
                <p class="lead text-muted"><i>Here on <b>Instructor details</b> you can view all the information related to the selected instructor
                    <br>name, email, and his schedule if there is one.</i></p>
            </div>
        </div>
        <div class="accordion mt-3">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Instructor details
                    </button>
                </h3>
                <div id="collapseOne" class="collapse show accordion-collapse">
                    <div class="accordion-body">
                        <h3>Instructor email: <b><i>{{ instructor.email }}</i></b></h3>
                        <h3>Instructor name: {% if instructor.name %}  <b><i>{{ instructor.name }}</i></b>
                        {% else %} <b><i>No name</i></b> {% endif %} </h3>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Instructor schedule
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col tab"><i>Course start</i></th>
                                <th class="col tab"><i>Course end</i></th>
                                <th class="col tab"><i>Course Duration</i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for instructor_cours in instructor_courses %}
                                <tr>
                                    <td>{{ instructor_cours.time_slot.start_time | date:"D j M Y H:i" }}</td>
                                    <td>{{ instructor_cours.time_slot.end_time | date:"D j M Y H:i" }}</td>
                                    <td>{{ instructor_cours.time_slot.duration }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'user-dashboard' %}" class="btn btn-primary mt-3">Go back</a>
    </div>
{% endblock %}

