{% extends 'app/base.html' %}

{% block document_title %}Exam{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <h2>Exam selection</h2>
                <p>Hello again {{ user.name }} and welcome to the exam selection. <br>
                    Here you can chose a list of exams to take for you're license.</p>
                <h4>Good luck buddy</h4>
            </div>
            <div class="col-md-12 mb-3">
                <h2>Exam selection:</h2>
                <div>
                    {% for exam in exams %}
                        <a href="{% url 'start_exam' exam.pk %}"
                           class="btn btn-primary btn-lg btn-block">{{ exam.title }}</a>
                    {% empty %}
                        <p>sorry for the inconvenience, but there are no exams available.</p>
                    {% endfor %}
                </div>
            </div>

        </div>
        <a href="{% url 'index' %}" class="btn btn-primary">Go back</a>
    </div>
{% endblock %}