{% extends 'app/base.html' %}
{% load static %}
{% block document_title %}
    Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mt-5 mb-5">
                    <h1>Hello and welcome to Driving school intranet !</h1>
                </div>
                <div id="carouselHome" class="carousel slide mt-5">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'assets/carrousel_img_1.jpg' %}" class="d-block w-100 img-fluid img-thumbnail" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'assets/carrousel_img_2.jpg' %}" class="img-carrousel-2 d-block w-100 img-fluid img-thumbnail" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'assets/carrousel_img_3.jpg' %}" class="img-carrousel-3 d-block w-100 img-fluid img-thumbnail" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselHome"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}