{% extends 'app/base.html' %}
{% load static %}
{% block document_title %}
    login
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="container mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card mt-5" style="width: fit-content;">
                <div class="card-header">
                    <h1>Login</h1>
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary btnLog" type="submit" value="login">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 flex-column justify-content-center text-center">
                <p><i>Please log in to your account <br>
                    to access the driving school intranet.</i></p>
            </div>
        </div>
    </div>


{% endblock %}