{% extends 'app/base.html' %}
{% block document_title %}
    dashboard
{% endblock %}

{% block content %}
    {% if logged_in_user.is_authenticated %}
        <div class="container mt-4">
            <h2>Your dashboard</h2>
            <p>Welcome {{ logged_in_user.email }}</p>
            {% if logged_in_user.role == 1 %}
                {% include 'settings/student/account-details.html' %}
            {% elif logged_in_user.role == 2 %}
                {% include 'settings/instructor/course-list.html' %}
            {% elif logged_in_user.role == 3 %}
                {% include 'settings/admin/admin-users-panel.html' %}
                {% include 'settings/admin/admin-exam-panel.html' %}
            {% elif logged_in_user.role == 4 %}
                {% include 'settings/secretary/instructor-list.html' %}
                {% include 'settings/secretary/student-list.html' %}
                {% include 'settings/secretary/course-list.html' %}
            {% endif %}
        </div>
    {% else %}
        <div>
            <h2>Dashboard</h2>
            <div class="alert alert-primary">
                <p>Sorry you can't access the dashboard if you aren't logged in</p>
                <a class="alert-link" href="{% url 'login' %}">login</a>
            </div>
        </div>
    {% endif %}
{% endblock %}