{% extends 'app/base.html' %}
{% block document_title %}
    dashboard
{% endblock %}

{% block content %}
    {% if logged_in_user.is_authenticated %}
        <div class="container mt-4">
            <div class="hello row">
                <h1><b>Hello {% if logged_in_user.name %} {{ logged_in_user.name }} {% else %}
                    {{ logged_in_user.email }}{% endif %} </b>🌞</h1>
                <p class="mt-2"><b>Your email:</b> <i>{{ logged_in_user.email }}</i></p>
                <p class="mt-2"><i>"A good beginning, makes a good ending."</i></p>
            </div>
            {% if logged_in_user.role == 1 %}
                {% include 'settings/student/account-details.html' %}
            {% elif logged_in_user.role == 2 %}
                {% include 'settings/instructor/course-list.html' %}
                {% include 'settings/instructor/student-list.html' %}
            {% elif logged_in_user.role == 3 %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {% include 'settings/secretary/student-list.html' %}
                        </div>
                        <div class="col">
                            {% include 'settings/secretary/instructor-list.html' %}
                        </div>
                        <div class="col">
                            {% include 'settings/admin/secretary-list.html' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include 'settings/secretary/course-list.html' %}
                        </div>
                        <div class="col">
                            {% include 'settings/admin/admin-exam-panel.html' %}
                        </div>
                    </div>
                </div>
            {% elif logged_in_user.role == 4 %}
                {% include 'settings/secretary/instructor-list.html' %}
                {% include 'settings/secretary/student-list.html' %}
                {% include 'settings/secretary/course-list.html' %}
            {% endif %}
        </div>
    {% else %}
        <div class="container">
            <h2>Dashboard</h2>
            <div class="alert alert-primary">
                <p>Sorry you can't access the dashboard if you aren't logged in</p>
                <a class="alert-link" href="{% url 'login' %}">login</a>
            </div>
        </div>
    {% endif %}
{% endblock %}