<div>
    <h3>Your assigned students details</h3>
    <table>
        <tr>
            <th>Student</th>
            <th>Paid hours</th>
            <th>Taken hours</th>
        </tr>
        <tr>
            {% for assigned_student in assigned_students %}
                <td> {% if assigned_student.email %}
                    {{ assigned_student.email }}
                    {% else %}
                    {{ assigned_student.name }}
                {% endif %} </td>
                <td>{{ assigned_student.paid_course_hours }}</td>
                <td>{{ assigned_student.taken_course_hours }}</td>
            {% empty %}
                <p>There are no assigned students</p>
            {% endfor %}
        </tr>
    </table>

</div>