<div>
    <h3>
        Account details of {% if logged_in_user.name %} {{ logged_in_user.name }} {% else %}
        {{ logged_in_user.email }} {% endif %}
    </h3>
    <div>
        <div>
            <h4>Courses balance:</h4>
            <div>
                Paid courses hours: {{ logged_in_user.paid_courses|length }}
                Taken courses hours: {{ logged_in_user.taken_courses|length }}
            </div>
        </div>
        <div>
            <h4>your assigned courses</h4>
            <div>
                <table>
                    <tr>
                        <th>Location</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Instructor</th>
                    </tr>
                    {% for assigned_cours in logged_in_user.assigned_courses.all %}
                        <tr>
                            <td>{{ assigned_cours.location }}</td>
                            <td>{{ assigned_cours.time }}</td>
                            <td>{{ assigned_cours.date }}</td>
                            <td>{{ assigned_cours.instructor }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                agenda still under construction...
            </div>
        </div>
    </div>
</div>



