<div>
<h1>Student panel</h1>
    <div>
        {% for student in students %}
            <p>{{ student.email }}</p>
            <p>{{ student.pk }}</p>
            <a href="{% url 'student-edit-delete' student.pk %}">Edit/delete</a>
        {% endfor %}
    </div>
    <div>
        <form action="{% url 'student-creation' %}" method="post">
            {% csrf_token %}
            {{ student_add_form.as_p }}
            <input type="submit" value="Add new student">
        </form>
    </div>
</div>